[submodule "client/wordpress-2021"]
	path = client/wordpress-2021
	url = https://github.com/sasigume/projectnapoancom-client-wordpress-2021.git
[submodule "backend/functions-2021"]
	path = backend/functions-2021
	url = https://github.com/sasigume/projectnapoancom-backend-functions-2021.git
[submodule "backend/nest-2021"]
	path = backend/nest-2021
	url = https://github.com/sasigume/projectnapoancom-backend-nest-2021.git
[submodule "client/next-2021"]
	path = client/next-2021
	url = https://github.com/sasigume/projectnapoancom-client-next-2021.git
