rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow delete: if request.auth.uid == uid;
      allow get, update, write, create, read: if true;
    }
    match /postComments/{postCommentId} {
      allow get, read, create, write: if true
        //request.auth.uid == resource.data.senderUid ||
        //request.auth.uid == resource.data.receiverUid;
      allow update: if request.auth.uid == resource.data.receiverUid;
      allow delete: if request.auth.uid == resource.data.senderUid;
    }
    match /comments/{commentId} {
      allow get, read, create: if true
        //request.auth.uid == resource.data.senderUid ||
        //request.auth.uid == resource.data.receiverUid;
      allow update, write: if request.auth.uid == resource.data.receiverUid;
      allow delete: if request.auth.uid == resource.data.senderUid;
    }
    match /answers/{answerId} {
      allow update, delete, write: if request.auth.uid == resource.data.uid;
      //allow create, read: if request.auth.uid != null;
      allow create: if request.auth.uid != null;
      allow get, read: if true;
    }
  }
}