$listModifyGreen: #046e00;
$listModifyBlue : #0060bc;

// Variables

$shadow-sm: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.1);
$shadow-md: 0 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.3);

$color-theme: #2687e8;

// Background color
$background: #fff;
$bg-light  : #f5f5f5;
$bg-dark   : #222;

// text color
$text       : #454545;
$text-light : #999;
$text-header: #333;
$text-code  : #eee;

// link
$link : #1487bd;
$hover: darken($link, 10%);

// border
$border: #ddd;

// button
$btn      : #fff;
$btn-hover: #f5f5f5;

// Media Queries
$mq-xs: "(max-width: 480px)";
$mq-sm: "(min-width: 768px)";
$mq-md: "(min-width: 992px)";
$mq-lg: "(min-width: 1200px)";


@mixin buttonHoverShadow($bg:$color-theme) {
    display        : block;
    padding        : 1rem;
    background     : $bg;
    width          : 100%;
    color          : #fff;
    text-align     : center;
    border-radius  : .6rem;
    box-shadow     : $shadow-sm;
    text-decoration: none;
    transition     : .3s ease-in-out;
    margin         : 1rem 0;

    &:hover {
        color     : #fff;
        box-shadow: $shadow-md;
    }
}

/* @font-face {
    font-family: 'minecraft';
    src: url('/fonts/minecraft.eot');
    src: url('/fonts/minecraft.eot') format('embedded-opentype'), url('/fonts/minecraft.ttf') format('truetype'), url('/fonts/minecraft.woff') format('woff'), url('/fonts/minecraft.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} */

.globalStyle_content {
    max-width: 650px;

    img,
    video {
        @apply max-w-full h-auto my-1;
        /* zoom: 1.4; 横幅大きくなったから無理矢理大きくする */

        &.border {
            border: solid 1px #444;
        }
    }

    .youtube-box {
        @apply relative w-full mb-2;
        padding-top: 56.25%;

        iframe {
            @apply absolute top-0 right-0 w-full h-full;
        }
    }

    a {
        @apply underline text-blue-600;

        &:hover {
            @apply text-blue-500;
        }

        &:visited {
            @apply text-purple-700;
        }

        &.back-link {
            @apply float-left;
        }

        &.next-link {
            @apply float-right;
        }

        &.back-link,
        &.next-link,
        &.napo-art-link {
            @apply block p-1 m-2 ml-4 bg-white border-gray-500 no-underline font-bold text-black rounded-lg;
        }

        &.napo-art-link {
            @apply border-blue-500 text-center
        }
    }

    p {
        @apply leading-relaxed mb-4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mx-1 font-bold leading-loose my-5 p-2 pl-3 border-gray-400 relative;
    }

    h1:before,
    h2:before,
    h3:before,
    h4:before,
    h5:before,
    h6:before {
        content: "";
        @apply block w-2 h-full left-0 top-0 absolute border-l-2 border-gray-500;
    }

    h1 {
        box-shadow: 0px 0px 6px rgba(100, 100, 100, 0.5);
        @apply text-3xl py-2 pl-3;

        &:before {
            @apply border-blue-500;
        }
    }

    h2 {
        box-shadow: 0px 3px 0px #848484;
        @apply text-3xl;

        &:before {
            @apply border-gray-700;
        }
    }

    h3 {
        box-shadow: 0px 2px 0px #888;
        @apply text-lg;
    }

    h4 {
        @apply text-lg;
    }

    h5 {}

    #toc_container {
        margin    : 1rem 0 4rem;
        background: #f9f9f9;
        padding   : 1rem;

        ul {
            list-style-type: disc;

            li {
                line-height: 2;

                &:after {
                    display: none;
                }
            }

            >li {
                margin: 4px;

                >ul {
                    >li {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

    dl {
        @apply mt-12 mb-8 px-6 pb-4 border border-gray-400 shadow-lg;
        box-shadow: 0px 3px 0px rgba(1, 1, 1, 0.1);

        &.nimu_stepchart {
            @apply border-none shadow-none;

            dd {
                @apply border-4 border-gray-600 p-3 rounded-xl my-6;

                &:after {
                    content: '';
                    @apply block absolute left-0 right-0 m-auto w-0 h-0;
                    bottom       : -30px;
                    border-left  : solid 30px transparent;
                    border-right : solid 30px transparent;
                    border-bottom: solid 0px transparent;
                    border-top   : solid 30px #444;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        dt {
            @apply relative inline-block bg-white px-2 font-bold text-lg;
            top: -1rem;
        }

        dd {
            @apply relative top-0 m-0
        }
    }

    small {
        font-size: 0.8em;
    }

    strong {
        font-weight: bold;
        background : linear-gradient(rgba(0, 0, 0, 0) 80%, #ffff66 75%);
    }

    kbd {
        border-top: 1px solid #F5F5F5;
        @apply inline-block bottom-4 relative align-middle py-2 px-4 my-1 mx-2 bg-gray-100 rounded-lg shadow-md text-black text-center font-bold;
    }

    blockquote {
        @apply my-4 mx-2 p-3 bg-gray-50 rounded-xl;
    }

    table {
        @apply mb-6;
        border: none;

        th,
        td {
            border-width: 1px;
            @apply border-gray-500 py-2 px-3;

            &.big {
                @apply text-lg;
            }
        }

        th {
            @apply font-bold bg-gray-400;
        }

        td {
            &.enable {
                @apply bg-green-400;
            }

            &.disable {
                @apply bg-red-300;
            }
        }

        .bottomB {
            @apply border-b-2 border-gray-800;
        }

        ul {
            @apply ml-0;
        }

        thead {
            th {
                @apply border-gray-400;
            }
        }

        &.map-table {
            th {
                @apply px-6 py-3 font-bold;
            }

            td {
                @apply p-6 text-left;
            }
        }

        &.item-list-table ul {
            @apply list-none;
        }

        &.matome-table {
            @apply table-fixed text-lg;

            tr {
                @apply border-b-2 border-gray-800;

                &:last-child {
                    @apply border-b-0;
                }
            }
        }
    }

    .list-modify {
        @apply inline-block m-1 p-2 rounded-md bg-blue-500 text-white font-bold;

        &.green {
            @apply bg-green-600
        }

        &.blue {
            @apply bg-blue-700;
        }
    }

    ol {
        counter-reset: number;
        @apply list-none my-2 ml-8;

        li {
            @apply relative my-4;

            &:before {
                counter-increment: number;
                content          : counter(number);
                top              : -0.3em;
                left             : -0.8em;
                width            : 14px;
                height           : 14px;
                @apply block text-xl text-purple-700 font-bold;
            }
        }
    }

    ul {
        @apply list-none my-2 ml-8;

        li {
            position: relative;
            margin  : 15px 0;

            &:after {
                display: block;
                content: '';
                @apply absolute block bg-purple-800 rounded-full w-4 h-4;
                top : .5em;
                left: -1em;
            }

            >ul {
                @apply ml-4 text-sm;
            }
        }
    }

    pre {
        @apply rounded-md bg-gray-800 mb-6 text-white;
        font-family: Consolas, 'Courier New', Courier, Monaco, monospace, "Noto Sans JP";

        .highlightline {
            @apply bg-red-900 inline-block w-full;
        }
    }

    b.command {
        @apply text-lg inline-block m-1 p-1 rounded-md bg-gray-300 break-normal font-bold;
    }

    .command-highlight {
        @apply inline-block py-1 px-3 mx-1 bg-gray-200 rounded-md border border-gray-400 break-all;
    }

    .black-highlight {
        @apply inline-block py-1 px-3 mx-1 bg-gray-800 text-white rounded-md;

        b::selection,
        &::selection {
            @apply bg-blue-500;
        }
    }

    .code {
        font-family: Consolas, 'Courier New', Courier, Monaco, monospace, Noto Sans;
    }

    /* 重要な注意文 */
    .strong-notice {
        @apply my-6 mx-3 p-4 border-2 border-red-600 bg-red-300 shadow-lg;
    }

    /* コマンドブロック */
    .mode {
        @apply inline-block m-2 py-1 px-3 rounded-md text-white font-bold text-lg border-2;
    }

    .imp {
        @apply bg-red-600 border-red-600;
    }

    .chain {
        @apply bg-green-600 border-green-600;
    }

    .repeat {
        @apply bg-purple-600 border-purple-600;
    }

    .con {
        @apply bg-white border-gray-800 text-black;
    }

    .unc {
        @apply bg-black border-black;
    }

    .nee {
        @apply bg-gray-300 border-gray-300 text-black;
    }

    .alw {
        @apply bg-red-600 border-red-600
    }

    /* バージョン表記 */
    span.v8,
    span.v7,
    span.v9,
    span.v10 {
        @apply inline-block m-1 py-1 px-2 text-white font-bold
    }

    span.v8 {
        background: #C71585;
    }

    span.v7 {
        background: #006400;
    }

    span.v9 {
        background: #8B008B;
    }

    span.v10 {
        background: #191970;
    }

    .mod-inst {
        @apply my-5 mx-3 p-3 rounded-xl bg-white shadow-lg border-gray-400;

        span.title {
            @apply text-lg font-bold;
        }

        p.note {
            @apply bg-white p-3 rounded-xl;
        }

        ol,
        ul {
            @apply ml-5;
        }

        .stopmodreposts {
            @apply block text-white my-5 p-6 text-center overflow-hidden bg-blue-500 no-underline;


            b {
                text-shadow: 0px 5px 0px rgb(0, 0, 0);
                line-height: 1.2;
                animation  : textshadowmoco 5s ease 0s infinite normal;
                @apply block text-2xl;
            }
        }
    }

    @keyframes textshadowmoco {
        0% {
            text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
            transform  : translateY(0%);
        }

        20% {
            text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.8);
            transform  : translateY(-5px);
        }

        80% {
            text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.8);
            transform  : translateY(-5px);
        }

        100% {
            text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
            transform  : translateY(0%);
        }
    }

    a.back-button {
        margin-left    : auto;
        display        : table;
        padding        : 0.5em;
        text-decoration: none;
        border-radius  : 5px;
        background     : #2687E8;
        color          : #fff !important;
        font-size      : 1.1em;
        font-weight    : bold;
    }

    ul#mokuzi {
        @apply list-none border-gray-500 p-0 m-4 shadow-md;

        li:after {
            @apply hidden;
        }

        >li {
            @apply block ml-0;

            >a {
                @apply p-3 z-10 -ml-3 -ml-1 block text-lg font-bold bg-gray-400 leading-5 no-underline shadow-md;
            }

            >ul {
                @apply list-none pl-0 ml-0;

                >li {
                    @apply pb-2 list-none relative pl-6 border-b border-gray-500 ml-0;

                    &:last-child {
                        @apply border-white;
                    }

                    a {
                        @apply text-lg no-underline block leading-loose;

                        &.big {
                            @apply text-xl;
                        }

                        &:before,
                        &:after {
                            content      : "";
                            position     : absolute;
                            border-top   : solid 10px transparent;
                            border-right : solid 10px transparent;
                            border-bottom: solid 10px transparent;
                            @apply absolute w-0 h-0 bottom-2;
                        }

                        &:before {
                            @apply right-0;
                            border-left: solid 10px #000000;
                        }

                        &:after {
                            @apply right-1;
                            border-left: solid 10px #fff;
                        }
                    }
                }
            }
        }
    }

    .quote-image {
        @apply inline-block my-2 mx-1 p-2 bg-blue-500 text-white;

        a,
        a:visited,
        a:hover {
            color: #fff !important;
        }

    }

    /* -------------------
    Amazon
    ------------------- */
    .aalb-pa-ad-unit {
        @apply py-8 px-4 border-gray-100 my-4;

        &.pull-left {
            float: none;
        }
    }

    @media screen and (max-width:650px) {
        dl {
            @apply pt-0 px-6 pb-8;
        }

        #contents-list {
            ul {
                >li {
                    font-size: 19px;
                }
            }
        }

        table {
            &.matome-table {
                font-size: 1rem;
            }
        }
    }

    @media screen and (max-width:500px) {
        ul>li>ul {
            margin-left: 0.4em;
        }
    }
}